In [1]:
# Zamoto Analysis

# Import Libaries
import pandas as pd
import numpy as np

# Loading .csv file of zomato data using pandas
df_data = pd.read_csv(r"C:\Users\Rahul\Downloads\Zomato Data Analaysis\uber eats.csv", encoding='unicode_escape')
print(df_data)

      Restaurant ID           Restaurant Name  Country Code              City  \
0           6317637          Le Petit Souffle           162       Makati City
1           6304287          Izakaya Kikufuji           162       Makati City
2           6300002    Heat - Edsa Shangri-La           162  Mandaluyong City
3           6318506                      Ooma           162  Mandaluyong City
4           6314302               Sambo Kojin           162  Mandaluyong City
...             ...                       ...           ...               ...
9546        5915730              NamlÛ± Gurme           208         ÛÁstanbul
9547        5908749             Ceviz AÛôacÛ±           208         ÛÁstanbul
9548        5915807                     Huqqa           208         ÛÁstanbul
9549        5916112              Aôôk Kahve           208         ÛÁstanbul
9550        5927402  Walter's Coffee Roastery           208         ÛÁstanbul

                                                Address  \
0     Third Floor, Century City Mall, Kalayaan Avenu...
1     Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2     Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3     Third Floor, Mega Fashion Hall, SM Megamall, O...
4     Third Floor, Mega Atrium, SM Megamall, Ortigas...
...                                                 ...
9546  Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...
9547  Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...
9548  Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...
9549  Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...
9550  CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...

                                        Locality  \
0      Century City Mall, Poblacion, Makati City
1     Little Tokyo, Legaspi Village, Makati City
2     Edsa Shangri-La, Ortigas, Mandaluyong City
3         SM Megamall, Ortigas, Mandaluyong City
4         SM Megamall, Ortigas, Mandaluyong City
...                                          ...
9546                                    Karakí_y
9547                                   Koôuyolu
9548                                 Kuruí_eôme
9549                                 Kuruí_eôme
9550                                        Moda

                                       Locality Verbose   Longitude  \
0     Century City Mall, Poblacion, Makati City, Mak...  121.027535
1     Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101
2     Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831
3     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475
4     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508
...                                                 ...         ...
9546                                Karakí_y, ÛÁstanbul   28.977392
9547                               Koôuyolu, ÛÁstanbul   29.041297
9548                             Kuruí_eôme, ÛÁstanbul   29.034640
9549                             Kuruí_eôme, ÛÁstanbul   29.036019
9550                                    Moda, ÛÁstanbul   29.026016

       Latitude                          Cuisines  ...          Currency  \
0     14.565443        French, Japanese, Desserts  ...  Botswana Pula(P)
1     14.553708                          Japanese  ...  Botswana Pula(P)
2     14.581404  Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)
3     14.585318                   Japanese, Sushi  ...  Botswana Pula(P)
4     14.584450                  Japanese, Korean  ...  Botswana Pula(P)
...         ...                               ...  ...               ...
9546  41.022793                           Turkish  ...  Turkish Lira(TL)
9547  41.009847   World Cuisine, Patisserie, Cafe  ...  Turkish Lira(TL)
9548  41.055817            Italian, World Cuisine  ...  Turkish Lira(TL)
9549  41.057979                   Restaurant Cafe  ...  Turkish Lira(TL)
9550  40.984776                              Cafe  ...  Turkish Lira(TL)

     Has Table booking Has Online delivery Is delivering now  \
0                  Yes                  No                No
1                  Yes                  No                No
2                  Yes                  No                No
3                   No                  No                No
4                  Yes                  No                No
...                ...                 ...               ...
9546                No                  No                No
9547                No                  No                No
9548                No                  No                No
9549                No                  No                No
9550                No                  No                No

     Switch to order menu Price range  Aggregate rating  Rating color  \
0                      No           3               4.8    Dark Green
1                      No           3               4.5    Dark Green
2                      No           4               4.4         Green
3                      No           4               4.9    Dark Green
4                      No           4               4.8    Dark Green
...                   ...         ...               ...           ...
9546                   No           3               4.1         Green
9547                   No           3               4.2         Green
9548                   No           4               3.7        Yellow
9549                   No           4               4.0         Green
9550                   No           2               4.0         Green

     Rating text Votes
0      Excellent   314
1      Excellent   591
2      Very Good   270
3      Excellent   365
4      Excellent   229
...          ...   ...
9546   Very Good   788
9547   Very Good  1034
9548        Good   661
9549   Very Good   901
9550   Very Good   591

[9551 rows x 21 columns]

In [2]:


# Loading excel file of country code using pandas

df_country = pd.read_excel(r"C:\Users\Rahul\Downloads\Zomato Data Analaysis\Country-Code.xlsx")
print(df_country)

    Country Code         Country
0              1           India
1             14       Australia
2             30          Brazil
3             37          Canada
4             94       Indonesia
5            148     New Zealand
6            162     Phillipines
7            166           Qatar
8            184       Singapore
9            189    South Africa
10           191       Sri Lanka
11           208          Turkey
12           214             UAE
13           215  United Kingdom
14           216   United States

In [3]:

# Data Cleaning (Zamaoto data)
#check the datatype
df_data.info()

# Check the Null Values
print(df_data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB
Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [4]:

# the top 5 rows of sales data
print(df_data.head(10))

# describe return description of the data in the DataFrame
print(df_data.describe())

# Check Duplicates
print(df_data.duplicated().sum())

# Columns Names
print(df_data.columns)

#check the datatype
print(df_data.dtypes)

print(df_data.shape)


# now clean the Country Code Data

# view data of country code
print(df_country.head())

print(df_country.info)

print(df_country.shape)

   Restaurant ID                           Restaurant Name  Country Code  \
0        6317637                          Le Petit Souffle           162
1        6304287                          Izakaya Kikufuji           162
2        6300002                    Heat - Edsa Shangri-La           162
3        6318506                                      Ooma           162
4        6314302                               Sambo Kojin           162
5       18189371                              Din Tai Fung           162
6        6300781                                Buffet 101           162
7        6301290                                   Vikings           162
8        6300010  Spiral - Sofitel Philippine Plaza Manila           162
9        6314987                                  Locavore           162

               City                                            Address  \
0       Makati City  Third Floor, Century City Mall, Kalayaan Avenu...
1       Makati City  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Mandaluyong City  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Mandaluyong City  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Mandaluyong City  Third Floor, Mega Atrium, SM Megamall, Ortigas...
5  Mandaluyong City  Ground Floor, Mega Fashion Hall, SM Megamall, ...
6        Pasay City  Building K, SM By The Bay, Sunset Boulevard, M...
7        Pasay City  Building B, By The Bay, Seaside Boulevard, Mal...
8        Pasay City  Plaza Level, Sofitel Philippine Plaza Manila, ...
9        Pasig City  Brixton Technology Center, 10 Brixton Street, ...

                                          Locality  \
0        Century City Mall, Poblacion, Makati City
1       Little Tokyo, Legaspi Village, Makati City
2       Edsa Shangri-La, Ortigas, Mandaluyong City
3           SM Megamall, Ortigas, Mandaluyong City
4           SM Megamall, Ortigas, Mandaluyong City
5           SM Megamall, Ortigas, Mandaluyong City
6  SM by the Bay, Mall of Asia Complex, Pasay City
7  SM by the Bay, Mall of Asia Complex, Pasay City
8      Sofitel Philippine Plaza Manila, Pasay City
9                                        Kapitolyo

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450
5  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056314  14.583764
6  SM by the Bay, Mall of Asia Complex, Pasay Cit...  120.979667  14.531333
7  SM by the Bay, Mall of Asia Complex, Pasay Cit...  120.979333  14.540000
8  Sofitel Philippine Plaza Manila, Pasay City, P...  120.980090  14.552990
9                              Kapitolyo, Pasig City  121.056532  14.572041

                             Cuisines  ...          Currency  \
0          French, Japanese, Desserts  ...  Botswana Pula(P)
1                            Japanese  ...  Botswana Pula(P)
2    Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)
3                     Japanese, Sushi  ...  Botswana Pula(P)
4                    Japanese, Korean  ...  Botswana Pula(P)
5                             Chinese  ...  Botswana Pula(P)
6                     Asian, European  ...  Botswana Pula(P)
7  Seafood, Filipino, Asian, European  ...  Botswana Pula(P)
8             European, Asian, Indian  ...  Botswana Pula(P)
9                            Filipino  ...  Botswana Pula(P)

  Has Table booking Has Online delivery Is delivering now  \
0               Yes                  No                No
1               Yes                  No                No
2               Yes                  No                No
3                No                  No                No
4               Yes                  No                No
5                No                  No                No
6               Yes                  No                No
7               Yes                  No                No
8               Yes                  No                No
9               Yes                  No                No

  Switch to order menu Price range  Aggregate rating  Rating color  \
0                   No           3               4.8    Dark Green
1                   No           3               4.5    Dark Green
2                   No           4               4.4         Green
3                   No           4               4.9    Dark Green
4                   No           4               4.8    Dark Green
5                   No           3               4.4         Green
6                   No           4               4.0         Green
7                   No           4               4.2         Green
8                   No           4               4.9    Dark Green
9                   No           3               4.8    Dark Green

  Rating text Votes
0   Excellent   314
1   Excellent   591
2   Very Good   270
3   Excellent   365
4   Excellent   229
5   Very Good   336
6   Very Good   520
7   Very Good   677
8   Excellent   621
9   Excellent   532

[10 rows x 21 columns]
       Restaurant ID  Country Code    Longitude     Latitude  \
count   9.551000e+03   9551.000000  9551.000000  9551.000000
mean    9.051128e+06     18.365616    64.126574    25.854381
std     8.791521e+06     56.750546    41.467058    11.007935
min     5.300000e+01      1.000000  -157.948486   -41.330428
25%     3.019625e+05      1.000000    77.081343    28.478713
50%     6.004089e+06      1.000000    77.191964    28.570469
75%     1.835229e+07      1.000000    77.282006    28.642758
max     1.850065e+07    216.000000   174.832089    55.976980

       Average Cost for two  Price range  Aggregate rating         Votes
count           9551.000000  9551.000000       9551.000000   9551.000000
mean            1199.210763     1.804837          2.666370    156.909748
std            16121.183073     0.905609          1.516378    430.169145
min                0.000000     1.000000          0.000000      0.000000
25%              250.000000     1.000000          2.500000      5.000000
50%              400.000000     2.000000          3.200000     31.000000
75%              700.000000     2.000000          3.700000    131.000000
max           800000.000000     4.000000          4.900000  10934.000000
0
Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')
Restaurant ID             int64
Restaurant Name          object
Country Code              int64
City                     object
Address                  object
Locality                 object
Locality Verbose         object
Longitude               float64
Latitude                float64
Cuisines                 object
Average Cost for two      int64
Currency                 object
Has Table booking        object
Has Online delivery      object
Is delivering now        object
Switch to order menu     object
Price range               int64
Aggregate rating        float64
Rating color             object
Rating text              object
Votes                     int64
dtype: object
(9551, 21)
   Country Code    Country
0             1      India
1            14  Australia
2            30     Brazil
3            37     Canada
4            94  Indonesia
<bound method DataFrame.info of     Country Code         Country
0              1           India
1             14       Australia
2             30          Brazil
3             37          Canada
4             94       Indonesia
5            148     New Zealand
6            162     Phillipines
7            166           Qatar
8            184       Singapore
9            189    South Africa
10           191       Sri Lanka
11           208          Turkey
12           214             UAE
13           215  United Kingdom
14           216   United States>
(15, 2)

In [13]:

#checking null values
print(df_country.isnull().sum())

# checking Duplicates
df_country.duplicated().sum()


# Merging country code and Data file)
df=pd.merge(df_data,df_country,on='Country Code', how= 'left')
print(df.head())


#droping unwanted columns
df.drop(['Restaurant ID','Locality Verbose','Country Code','Longitude','Latitude'],axis=1,inplace=True)
print(df.columns)

# checking the null values after merging
df.isnull().sum()

# remove null values
df=df.dropna()
print(df.isnull().sum())

# count total transcation happen in all the world
print(df.Country.value_counts())


#downlaod data
df.to_csv(r"C:\Users\Rahul\Downloads\Zomato Data Analaysis\Clean Uber eats Data.csv")
print(df.to_string)

Country Code    0
Country         0
dtype: int64
   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...  Has Table booking  \
0        French, Japanese, Desserts  ...                Yes
1                          Japanese  ...                Yes
2  Seafood, Asian, Filipino, Indian  ...                Yes
3                   Japanese, Sushi  ...                 No
4                  Japanese, Korean  ...                Yes

  Has Online delivery Is delivering now Switch to order menu Price range  \
0                  No                No                   No           3
1                  No                No                   No           3
2                  No                No                   No           4
3                  No                No                   No           4
4                  No                No                   No           4

  Aggregate rating  Rating color  Rating text Votes      Country
0              4.8    Dark Green    Excellent   314  Phillipines
1              4.5    Dark Green    Excellent   591  Phillipines
2              4.4         Green    Very Good   270  Phillipines
3              4.9    Dark Green    Excellent   365  Phillipines
4              4.8    Dark Green    Excellent   229  Phillipines

[5 rows x 22 columns]
Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes', 'Country'],
      dtype='object')
Restaurant Name         0
City                    0
Address                 0
Locality                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
Country                 0
dtype: int64
India             8652
United States      425
United Kingdom      80
Brazil              60
UAE                 60
South Africa        60
New Zealand         40
Turkey              34
Australia           24
Phillipines         22
Indonesia           21
Singapore           20
Qatar               20
Sri Lanka           20
Canada               4
Name: Country, dtype: int64
<bound method DataFrame.to_string of                Restaurant Name              City  \
0             Le Petit Souffle       Makati City
1             Izakaya Kikufuji       Makati City
2       Heat - Edsa Shangri-La  Mandaluyong City
3                         Ooma  Mandaluyong City
4                  Sambo Kojin  Mandaluyong City
...                        ...               ...
9546              NamlÛ± Gurme         ÛÁstanbul
9547             Ceviz AÛôacÛ±         ÛÁstanbul
9548                     Huqqa         ÛÁstanbul
9549              Aôôk Kahve         ÛÁstanbul
9550  Walter's Coffee Roastery         ÛÁstanbul

                                                Address  \
0     Third Floor, Century City Mall, Kalayaan Avenu...
1     Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2     Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3     Third Floor, Mega Fashion Hall, SM Megamall, O...
4     Third Floor, Mega Atrium, SM Megamall, Ortigas...
...                                                 ...
9546  Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...
9547  Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...
9548  Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...
9549  Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...
9550  CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...

                                        Locality  \
0      Century City Mall, Poblacion, Makati City
1     Little Tokyo, Legaspi Village, Makati City
2     Edsa Shangri-La, Ortigas, Mandaluyong City
3         SM Megamall, Ortigas, Mandaluyong City
4         SM Megamall, Ortigas, Mandaluyong City
...                                          ...
9546                                    Karakí_y
9547                                   Koôuyolu
9548                                 Kuruí_eôme
9549                                 Kuruí_eôme
9550                                        Moda

                              Cuisines  Average Cost for two  \
0           French, Japanese, Desserts                  1100
1                             Japanese                  1200
2     Seafood, Asian, Filipino, Indian                  4000
3                      Japanese, Sushi                  1500
4                     Japanese, Korean                  1500
...                                ...                   ...
9546                           Turkish                    80
9547   World Cuisine, Patisserie, Cafe                   105
9548            Italian, World Cuisine                   170
9549                   Restaurant Cafe                   120
9550                              Cafe                    55

              Currency Has Table booking Has Online delivery  \
0     Botswana Pula(P)               Yes                  No
1     Botswana Pula(P)               Yes                  No
2     Botswana Pula(P)               Yes                  No
3     Botswana Pula(P)                No                  No
4     Botswana Pula(P)               Yes                  No
...                ...               ...                 ...
9546  Turkish Lira(TL)                No                  No
9547  Turkish Lira(TL)                No                  No
9548  Turkish Lira(TL)                No                  No
9549  Turkish Lira(TL)                No                  No
9550  Turkish Lira(TL)                No                  No

     Is delivering now Switch to order menu  Price range  Aggregate rating  \
0                   No                   No            3               4.8
1                   No                   No            3               4.5
2                   No                   No            4               4.4
3                   No                   No            4               4.9
4                   No                   No            4               4.8
...                ...                  ...          ...               ...
9546                No                   No            3               4.1
9547                No                   No            3               4.2
9548                No                   No            4               3.7
9549                No                   No            4               4.0
9550                No                   No            2               4.0

     Rating color Rating text  Votes      Country
0      Dark Green   Excellent    314  Phillipines
1      Dark Green   Excellent    591  Phillipines
2           Green   Very Good    270  Phillipines
3      Dark Green   Excellent    365  Phillipines
4      Dark Green   Excellent    229  Phillipines
...           ...         ...    ...          ...
9546        Green   Very Good    788       Turkey
9547        Green   Very Good   1034       Turkey
9548       Yellow        Good    661       Turkey
9549        Green   Very Good    901       Turkey
9550        Green   Very Good    591       Turkey

[9542 rows x 17 columns]>

In [6]:
total_restaurants = df['Restaurant Name'].nunique()
total_cuisines = df['Cuisines'].nunique()
print(f"Total Restaurants: {total_restaurants}, Total Cuisines: {total_cuisines}")

Total Restaurants: 7437, Total Cuisines: 1825

In [7]:
restaurants_by_country = df['Country'].value_counts()
print("Restaurants by Country:\n", restaurants_by_country)

Restaurants by Country:
 India             8652
United States      425
United Kingdom      80
Brazil              60
UAE                 60
South Africa        60
New Zealand         40
Turkey              34
Australia           24
Phillipines         22
Indonesia           21
Singapore           20
Qatar               20
Sri Lanka           20
Canada               4
Name: Country, dtype: int64

In [8]:
india_df = df[df['Country'] == 'India']
value_for_money_restaurants = india_df[india_df['Rating text'].str.contains("Good|Very Good|Excellent", case=False)]
cities_with_value_restaurants = value_for_money_restaurants['City'].value_counts()
print("Indian Cities with the Most 'Value for Money' Restaurants:\n", cities_with_value_restaurants)

Indian Cities with the Most 'Value for Money' Restaurants:
 New Delhi       1456
Gurgaon          352
Noida            202
Faridabad         26
Bhubaneshwar      21
Lucknow           21
Ahmedabad         21
Guwahati          21
Kochi             20
Vadodara          20
Pune              20
Mangalore         20
Ludhiana          20
Kolkata           20
Vizag             20
Goa               20
Coimbatore        20
Bangalore         20
Chennai           20
Dehradun          20
Surat             19
Mumbai            19
Agra              19
Indore            19
Jaipur            19
Nagpur            18
Bhopal            18
Hyderabad         18
Mysore            18
Puducherry        18
Kanpur            17
Chandigarh        16
Amritsar          16
Nashik            12
Varanasi          12
Patna             11
Ranchi             9
Allahabad          5
Aurangabad         4
Ghaziabad          4
Secunderabad       2
Mohali             1
Panchkula          1
Name: City, dtype: int64

In [9]:
top_cuisines_india = india_df.groupby('Cuisines')['Votes'].sum().nlargest(10)
print("Top 10 Cuisines with Most Votes in India:\n", top_cuisines_india)

Top 10 Cuisines with Most Votes in India:
 Cuisines
North Indian, Mughlai                    53747
North Indian                             46241
North Indian, Chinese                    42012
Cafe                                     25464
North Indian, Mughlai, Chinese           20115
Chinese                                  19046
Fast Food                                17098
South Indian                             16223
Mughlai, North Indian                    15275
European, Mediterranean, North Indian    12541
Name: Votes, dtype: int64

In [10]:
online_delivery_countries = df[df['Has Online delivery'] == 'Yes']['Country'].unique()
print("Countries with Restaurants Offering Online Delivery:\n", online_delivery_countries)

Countries with Restaurants Offering Online Delivery:
 ['UAE' 'India']

In [11]:
locality_with_most_restaurants = df['Locality'].value_counts().idxmax()
print(f"Locality with the Most Restaurants: {locality_with_most_restaurants}")

Locality with the Most Restaurants: Connaught Place

In [12]:
good_cuisine_restaurants = df[(df['Rating text'] == 'Good') & (df['Aggregate rating'] >= 3.0)]
print("Restaurants with Good Cuisine and Average Rating:\n", good_cuisine_restaurants[['Restaurant Name', 'Cuisines', 'Aggregate rating']])

Restaurants with Good Cuisine and Average Rating:
                Restaurant Name                             Cuisines  \
15               Cafe Arabelle    Cafe, American, Italian, Filipino
23         Cafí© Daniel Briand                                 Cafe
24    Casa do Biscoito Mineiro                               Bakery
25                       Maori                            Brazilian
28                     Beirute                              Arabian
...                        ...                                  ...
9503          Malay Restaurant  Malaysian, North Indian, Sri Lankan
9506                Cafe Shaze           Cafe, Fast Food, Beverages
9531                 The Bigos                                 Cafe
9542            Leman Kí_ltí_r                      Restaurant Cafe
9548                     Huqqa               Italian, World Cuisine

      Aggregate rating
15                 3.6
23                 3.8
24                 3.7
25                 3.8
28                 3.7
...                ...
9503               3.5
9506               3.8
9531               3.8
9542               3.7
9548               3.7

[2096 rows x 3 columns]